/bin
/target
/.travis.yml
/logs/
/calao.properties
/*.kls
/src/main/resources/calao/old/
/src/main/resources/calao/svg/
/src/main/resources/calao/Exercices/
/src/main/resources/calao/TimGM6mb.sf2
/src/main/resources/calao/font/documentation_police.svg
/src/main/java/slider/
